<html>
<head>
{% javascripts '@ModeraRestBundle/Resources/public/js/*' %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
{% endjavascripts %}
<link rel="stylesheet" href="http://cdn.sencha.io/try/extjs/4.1.0/resources/css/ext-all-gray.css"/>
</head>
<body>
<script type="text/javascript">
//http://docs.sencha.com/extjs/4.1.0/extjs-build/examples/tree/xml-tree.html

Ext.onReady(function() {
	
	var store = Ext.create('Ext.data.TreeStore', {
		autoLoad: true,
		autoSync:true,
		proxy: {
			type: 'ajax',
			url: 'item',
			reader: {
				type: 'json',
				root: 'children',
				successProperty: 'success',
				idProperty: 'id',
			},
		},
		root: {
			text: 'items',
			expanded: true,
			id: 'id'
		}
		
		
		
	});

	Ext.create('Ext.tree.Panel', {
		title: 'Products tree',
		width: 200,
		height: 400,
		store: store,
		rootVisible: false,
		renderTo: Ext.getBody()
	});

});
</script>
</body>
</html>